{% load compress %}

<!DOCTYPE HTML>
<html>
    <head>
        <title>grooveshark-html5</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css"/>
    </head>

    <body>
        <div id="content">
            <h1>grooveshark-html5</h1>
        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}js/zepto.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/uuid.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/2.5.3-crypto-md5.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/2.5.3-crypto-sha1.js"></script>

        {% compress js %}
            <script type="text/coffeescript" src="{{ STATIC_URL }}main.coffee"></script>
        {% endcompress %}
    </body>
</html>