<!DOCTYPE HTML>
<html>
    <head>
        <title>grooveshark-html5</title>
        <link rel="stylesheet" href="../static/css/style.css"/>
    </head>

    <body>
        <div id="content">
            <h1>grooveshark-html5</h1>
        </div>

        <script src="../static/js/zepto.min.js"></script>
        <script src="../static/js/underscore-min.js"></script>
        <script src="../static/js/backbone-min.js"></script>
        <script src="../static/js/uuid.js"></script>
        <script src="../static/js/2.5.3-crypto-md5.js"></script>
        <script src="../static/js/2.5.3-crypto-sha1.js"></script>
        <script src="../static/js/app.js"></script>
    </body>
</html>